/* Header */
header{
    background-image: url('../img/wall.png');
}

header .row{
    text-transform: uppercase;
    font-weight: 600;
    font-size: 65px;
}

/* Main */
main{
    background-image: url('../img/cork.png');
}

.photo-item{
    background-color: #fff;
    box-shadow: 5px 6px 9px -3px #000;
    position: relative;
}

.photo-image{
    width: 100%;
    padding: 20px 20px 0;
}

.photo-desc{
    padding: 5px 20px 15px
}

.photo-title {
    font-family: "Edu TAS Beginner", cursive;
    text-transform: uppercase;
    font-weight: 700;
}

.photo-date{
    font-family: "Sometype Mono", monospace;
}

.pin{
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Responsive Font Size */
@media screen and (max-width: 576px) {
    .photo-title{
        font-size: 1rem;
    }
}

@media screen and (min-width: 577px) and (max-width: 992px) {
    .photo-title {
        font-size: 1.2rem;
    }
}

@media screen and (min-width: 993px) {
    .photo-title {
        font-size: 1.3rem;
    }
}